# CONFIG_ESPTOOLPY_FLASHSIZE_1MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB  is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_32MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_64MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_128MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/partition-4MB.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/partition-4MB.csv"
# CONFIG_PARTITION_TABLE_OFFSET i not set
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# ESP32-TUX Configuration
#

#
# Wifi Provision Config
#
# CONFIG_PROV_TRANSPORT_BLE is not set
CONFIG_PROV_TRANSPORT_SOFTAP=y
CONFIG_PROV_TRANSPORT=2
# CONFIG_RESET_PROVISIONED is not set
CONFIG_RESET_PROV_MGR_ON_FAILURE=y
CONFIG_PROV_MGR_MAX_RETRY_CNT=5
# CONFIG_PROV_SHOW_QR is not set
# end of Wifi Provision Config

#
# MQTT Config
#
CONFIG_BROKER_URL="mqtt://mqtt.eclipseprojects.io"
# end of MQTT Config

#
# SNTP Config
#
CONFIG_TIMEZONE_STRING="UTC-05:30"
CONFIG_SNTP_MAX_RETRY_COUNT=10

#
# ESP-TLS
#
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

#
# mbedTLS - Reduce SSL buffer sizes to prevent allocation failures
#
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=4096
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=2048

#
# Device Selection
#
CONFIG_TUX_DEVICE_WT32_SC01_V33=y

#
# OTA Config
#
CONFIG_OTA_FIRMWARE_UPGRADE_URL="https://192.168.1.128/build/ESP32-TUX.bin"
CONFIG_OTA_SKIP_COMMON_NAME_CHECK=y
# CONFIG_OTA_SKIP_VERSION_CHECK is not set
CONFIG_OTA_OTA_RECV_TIMEOUT=5000
# CONFIG_OTA_ENABLE_PARTIAL_HTTP_DOWNLOAD is not set
# CONFIG_PARTITION_TABLE_WT32SC01_4MB is not set
# CONFIG_PARTITION_TABLE_WT32SC01_8MB is not set
# CONFIG_PARTITION_TABLE_WT32SC01PLUS_4MB is not set
CONFIG_PARTITION_TABLE_WT32SC01PLUS_8MB=y
# end of OTA Config

CONFIG_LV_CONF_SKIP=not
